[core]
    editor = code --wait
    excludesfile = ~/.gitignore
    pager = delta
[user]
    name = Tim
    email = 57221600+TiltedToast@users.noreply.github.com
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[commit]
    gpgsign = true
[gpg]
    format = ssh
[alias]
    wt = worktree
    logline = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[credential]
    helper = "gh auth git-credential"
[init]
    defaultBranch = main
[rerere]
    enabled = true
[column]
    ui = never
[branch]
    sort = -committerdate
[merge]
    autoStash = true
    conflictstyle = diff3
[rebase]
    autoStash = true
[pull]
    rebase = true
[diff]
    colorMoved = default
[delta]
    navigate = true
[interactive]
    diffFilter = delta --color-only

[includeIf "gitdir:/home/tim/"]
    path = ~/.config/git/.gitconfig-wsl

[includeIf "gitdir:/home/ubuntu/"]
    path = ~/.config/git/.gitconfig-non-wsl
