[core]
	editor = "/mnt/c/Users/tim/AppData/Local/Programs/Microsoft VS Code/bin/code" --wait
	sshCommand = ssh -i "/home/tim/.ssh/github" -o IdentitiesOnly=yes

[user]
	name = Tim
	email = 57221600+TiltedToast@users.noreply.github.com
	signingkey = /home/tim/.ssh/github.pub
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	gpgsign = true
[gpg]
	format = ssh
[alias]
	logline = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[credential]
    helper = "/usr/bin/gh auth git-credential"
[init]
	defaultBranch = main
