{
    "collaboration_panel": {
        "button": true
    },
    "debugger": {
        "dock": "left"
    },
    "outline_panel": {
        "file_icons": true,
        "button": true
    },
    "use_system_window_tabs": false,
    "bottom_dock_layout": "contained",
    "tabs": {
        "file_icons": false,
        "git_status": false
    },
    "title_bar": {
        "show_menus": false,
        "show_sign_in": true,
        "show_branch_name": true,
        "show_branch_icon": true
    },
    "diagnostics": {
        "inline": {
            "enabled": true
        }
    },
    "middle_click_paste": false,
    "inlay_hints": {
        "enabled": false
    },
    "soft_wrap": "editor_width",
    "toolbar": {
        "code_actions": true,
        "quick_actions": true,
        "breadcrumbs": true
    },
    "minimap": {
        "show": "never"
    },
    "relative_line_numbers": "disabled",
    "auto_signature_help": false,
    "sticky_scroll": {
        "enabled": true
    },
    "rounded_selection": true,
    "project_panel": {
        "hide_hidden": false,
        "scrollbar": {
            "show": "auto"
        },
        "indent_size": 20.0,
        "folder_icons": true,
        "dock": "left",
        "button": true,
        "auto_reveal_entries": false
    },
    "icon_theme": "VSCode Icons for Zed (Dark Official Icons)",
    "telemetry": {
        "metrics": false,
        "diagnostics": false
    },
    "agent": {
        "button": true
    },
    "theme": "One Dark Pro Max",
    "ui_font_size": 18,
    "buffer_font_size": 18,
    "buffer_font_features": {
        "calt": true
    },
    "features": {
        "edit_prediction_provider": "supermaven"
    },
    "autosave": {
        "after_delay": {
            "milliseconds": 200
        }
    },
    "preferred_line_length": 100,
    "ui_font_family": "ComicCodeLigatures Nerd Font Mono",
    "ui_font_weight": 200,
    "buffer_font_family": "{{ .monospace_font }}",
    "buffer_font_weight": 200,
    "terminal": {
        "toolbar": {
            "breadcrumbs": false
        },
        "dock": "right",
        "shell": "system",
        "detect_venv": {
            "on": {
                "directories": [".venv", "venv"],
                "activate_script": "default"
            }
        },
        "cursor_shape": "bar",
        "copy_on_select": true,
        "font_weight": 200,
        "font_features": {
            "calt": true,
            "liga": true
        },
        "font_family": "{{ .monospace_font }}"
    },
    "indent_guides": {
        "background_coloring": "disabled",
        "enabled": true,
        "coloring": "indent_aware"
    },
    "tab_size": 4,
    "format_on_save": "off",
    "languages": {
        "TypeScript": {
            "code_actions_on_format": {
                "source.organizeImports": true,
                "source.fixAll.biome": true,
                "source.organizeImports.biome": true
            }
        },
        "TSX": {
            "code_actions_on_format": {
                "source.organizeImports": true
            }
        },
        "Nix": {
            "language_servers": ["nixd"]
        }
    },
    "lsp": {
        "nixd": {
            "settings": {
                "formatting": {
                    "command": ["nixfmt"]
                },
                "nixpkgs": {
                    "expr": "import <nixpkgs> { }"
                },
                "options": {
                    "nixos": {
                        "expr": "(builtins.getFlake \"/home/tim/dotfiles/nix\").nixosConfigurations.nixos-pc.options"
                    },
                    "home-manager": {
                        "expr": "(builtins.getFlake \"/home/tim/dotfiles/nix\").nixosConfigurations.nixos-pc.options.home-manager.users.type.getSubOptions []"
                    }
                }
            }
        },
        "rust-analyzer": {
            "initialization_options": {
                "check": {
                    "command": "clippy",
                    "extraArgs": [
                        "--",
                        "-W",
                        "clippy::pedantic",
                        "-W",
                        "clippy::nursery",
                        "-A",
                        "clippy::option-if-let-else",
                        "-A",
                        "clippy::or_fun_call",
                        "-A",
                        "clippy::module-name-repetitions",
                        "-A",
                        "clippy::struct-excessive-bools",
                        "-A",
                        "clippy::unused-async",
                        "-A",
                        "clippy::missing-const-for-fn",
                        "-A",
                        "clippy::similar-names",
                        "-A",
                        "clippy::enum_variant_names",
                        "-A",
                        "clippy::too-many-lines",
                        "-A",
                        "clippy::ignored-unit-patterns",
                        "-A",
                        "clippy::must-use-candidate",
                        "-A",
                        "clippy::cast-lossless",
                        "-A",
                        "clippy::use-self",
                        "-A",
                        "clippy::inline-always",
                        "-A",
                        "clippy::missing-errors-doc",
                        "-A",
                        "clippy::missing-panics-doc",
                        "-A",
                        "clippy::doc-markdown",
                        "-A",
                        "clippy::used_underscore_binding",
                        "-A",
                        "clippy::significant_drop_tightening",
                        "-A",
                        "clippy::struct-field-names",
                        "-A",
                        "clippy::redundant-pub-crate",
                        "-A",
                        "clippy::unnecessary-wraps"
                    ]
                },
                "rustfmt": {}
            }
        },
        "clangd": {
            "binary": {
                "arguments": [
                    "--function-arg-placeholders=0",
                    // Breaks stuff without compile_commands.json as of clangd 21 i think
                    // "--experimental-modules-support",
                    "--background-index",
                    "--all-scopes-completion",
                    "--clang-tidy",
                    "--malloc-trim",
                    "--header-insertion-decorators=0"
                ]
            }
        }
    },
    "formatter": "auto",
    "tab_bar": {
        "show": false
    },
    "code_actions_on_format": {
        "source.fixAll": true,
        "source.fixAll.biome": true,
        "quickfix.biome": true,
        "source.sortImports": true,
        "source.addMissingImports.ts": true,
        "source.removeUnusedImports": true,
        "source.organizeImports.biome": true,
        "source.addMissingImports": true
    }
}
