{
    "project_panel": {
        "auto_reveal_entries": false
    },
    "icon_theme": "VSCode Great Icons Theme",
    "telemetry": {
        "metrics": false,
        "diagnostics": false
    },
    "agent": {
        "default_model": {
            "provider": "copilot_chat",
            "model": "gpt-4o"
        }
    },
    "theme": "One Dark Pro Max",
    "ui_font_size": 18,
    "buffer_font_size": 18,
    "buffer_font_features": {
        "calt": true
    },
    "features": {
        "edit_prediction_provider": "supermaven"
    },
    "autosave": {
        "after_delay": {
            "milliseconds": 200
        }
    },
    "preferred_line_length": 100,
    "hour_format": "hour24",
    "ui_font_family": "{{ .monospace_font }}",
    "ui_font_weight": 200,
    "buffer_font_family": "{{ .monospace_font }}",
    "buffer_font_weight": 200,
    "terminal": {
        "dock": "right",
        "shell": "system",
        "detect_venv": {
            "on": {
                "directories": [".venv", "venv"],
                "activate_script": "power_shell"
            }
        },
        "cursor_shape": "bar",
        "copy_on_select": true,
        "font_weight": 200,
        "font_features": {
            "calt": true,
            "liga": true
        },
        "font_family": "{{ .monospace_font }}"
    },
    "indent_guides": {
        "enabled": true,
        "coloring": "indent_aware"
    },
    "tab_size": 4,
    "format_on_save": "off",
    "languages": {
        "TypeScript": {
            "code_actions_on_format": {
                "source.organizeImports": true,
                "source.fixAll.biome": true,
                "source.organizeImports.biome": true
            }
        },
        "TSX": {
            "code_actions_on_format": {
                "source.organizeImports": true
            }
        },
        "Nix": {
            "language_servers": ["nixd"]
        }
    },
    "lsp": {
        "nixd": {
            "settings": {
                "formatting": {
                    "command": ["nixfmt"]
                },
                "nixpkgs": {
                    "expr": "import <nixpkgs> { }"
                },
                "options": {
                    "nixos": {
                        "expr": "(builtins.getFlake \"/home/tim/dotfiles/nix\").nixosConfigurations.nixos-pc.options"
                    },
                    "home-manager": {
                        "expr": "(builtins.getFlake \"/home/tim/dotfiles/nix\").nixosConfigurations.nixos-pc.options.home-manager.users.type.getSubOptions []"
                    }
                }
            }
        },
        "rust-analyzer": {
            "initialization_options": {
                "check": {
                    "command": "clippy",
                    "extraArgs": [
                        "--",
                        "-W",
                        "clippy::pedantic",
                        "-W",
                        "clippy::nursery",
                        "-A",
                        "clippy::option-if-let-else",
                        "-A",
                        "clippy::or_fun_call",
                        "-A",
                        "clippy::module-name-repetitions",
                        "-A",
                        "clippy::struct-excessive-bools",
                        "-A",
                        "clippy::unused-async",
                        "-A",
                        "clippy::missing-const-for-fn",
                        "-A",
                        "clippy::similar-names",
                        "-A",
                        "clippy::enum_variant_names",
                        "-A",
                        "clippy::too-many-lines",
                        "-A",
                        "clippy::ignored-unit-patterns",
                        "-A",
                        "clippy::must-use-candidate",
                        "-A",
                        "clippy::cast-lossless",
                        "-A",
                        "clippy::use-self",
                        "-A",
                        "clippy::inline-always",
                        "-A",
                        "clippy::missing-errors-doc",
                        "-A",
                        "clippy::missing-panics-doc",
                        "-A",
                        "clippy::doc-markdown",
                        "-A",
                        "clippy::used_underscore_binding",
                        "-A",
                        "clippy::significant_drop_tightening",
                        "-A",
                        "clippy::struct-field-names",
                        "-A",
                        "clippy::redundant-pub-crate",
                        "-A",
                        "clippy::unnecessary-wraps"
                    ]
                },
                "rustfmt": {}
            }
        },
        "clangd": {
            "binary": {
                "arguments": [
                    "--function-arg-placeholders=0",
                    // Breaks stuff without compile_commands.json as of clangd 21 i think
                    // "--experimental-modules-support",
                    "--background-index",
                    "--all-scopes-completion",
                    "--header-insertion-decorators=0"
                ]
            }
        }
    },
    "formatter": "auto",
    "tab_bar": {
        "show": false
    },
    "code_actions_on_format": {
        "source.fixAll": true,
        "source.fixAll.biome": true,
        "quickfix.biome": true,
        "source.sortImports": true,
        "source.addMissingImports.ts": true,
        "source.removeUnusedImports": true,
        "source.organizeImports.biome": true,
        "source.addMissingImports": true
    }
}
