{{- $useSecrets  := promptBoolOnce . "use_secrets" "Use 1Password for secrets? (y/n)" -}}
{{- $fullName    := "" -}}
{{- $uniEmail    := "" -}}
{{- $uniUserName := "" -}}
{{- $hifumiIp    := "" -}}
{{- $ttvProxyIp  := "" -}}

{{- if $useSecrets -}}
  {{- $fullName    = onepasswordRead "op://Personal/Private/Identification/full name" | default "" -}}
  {{- $uniEmail    = onepasswordRead "op://Personal/Uni Mail/Internet Details/email"  | default "" -}}
  {{- $uniUserName = onepasswordRead "op://Personal/Uni Mail/Identification/username" | default "" -}}
  {{- $hifumiIp    = onepasswordRead "op://Personal/Hifumi/ip"                        | default "" -}}
  {{- $ttvProxyIp  = onepasswordRead "op://Personal/TTV Proxy/ip"                     | default "" -}}
{{- end -}}

{{- if not $fullName -}}
  {{- $fullName = promptStringOnce . "full_name" "Enter full name:" -}}
{{- end -}}

{{- if not $uniEmail -}}
  {{- $uniEmail = promptStringOnce . "uni_email" "Enter uni email:" -}}
{{- end -}}

{{- if not $uniUserName -}}
  {{- $uniUserName = promptStringOnce . "uni_username" "Enter uni username:" -}}
{{- end -}}

{{- if not $hifumiIp -}}
  {{- $hifumiIp = promptStringOnce . "hifumi_ip" "Enter hifumi server ip:" -}}
{{- end -}}

{{- if not $ttvProxyIp -}}
  {{- $ttvProxyIp = promptStringOnce . "ttv_proxy_ip" "Enter ttv proxy ip:" -}}
{{- end -}}

{{- $osId := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
  {{- $osId = printf "%s-%s" $osId .chezmoi.osRelease.id -}}
{{- end -}}

{{- if ne (env "WSL_DISTRO_NAME") "" }}
  {{- $osId = printf "%s-%s" $osId "wsl" -}}
{{- end -}}

{{- $ageKeyPath := joinPath .chezmoi.homeDir ".config" "age" "key" -}}
{{- if not .use_secrets -}}
    {{- if not (stat $ageKeyPath) -}}
        {{- writeToStdout "\033[1;31mError: Age key required but 1Password secrets disabled.\033[0m\n" -}}
        {{- writeToStdout "\n" -}}
        {{- writeToStdout (printf "Please create: %s\n" $ageKeyPath) -}}
        {{- writeToStdout "Copy your age key there and set permissions to 600.\n" -}}
        {{- fail "Age key setup required before continuing" -}}
    {{- end -}}
{{- end -}}

encryption = "age"

sourceDir = "~/dotfiles"

[age]
    identity = "~/.config/age/key"
    recipient = "age1r3ee8yzrvhsqzpur68xpuheg8g66q3g4eu8dk4eft9xyh0nczdhqpn3grr"

[interpreters.ps1]
    command = "pwsh"
    args = ["-NoLogo"]

[onepassowrd]
    prompt = false

[diff]
    pager = "delta"
    exclude = ["scripts"]

# Use VS Code for merge
[merge]
    command = "bash"
    args = [
        "-c",
        {{ printf "%q" "cp {{ .Target }} {{ .Target }}.base && code --new-window --wait --merge {{ .Destination }} {{ .Target }} {{ .Target }}.base {{ .Source }}" }},
    ]

[data]
    os_id = {{ $osId | quote }}
    is_wsl = {{ hasSuffix "wsl" $osId }}
    use_secrets = {{ $useSecrets }}
    full_name = {{ $fullName | quote }}
    uni_email = {{ $uniEmail | quote }}
    uni_username = {{ $uniUserName | quote }}
    hifumi_ip = {{ $hifumiIp | quote }}
    ttv_proxy_ip = {{ $ttvProxyIp | quote }}
    monospace_font = "ComicCodeLigatures Nerd Font Mono"
