[core]
    editor = code --wait
    excludesfile = ~/.gitignore_global

{{- if eq .chezmoi.os "windows" }}
    sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
{{- else if eq .chezmoi.hostname "hifumi" }}
    sshCommand = ssh -i ~/.ssh/git
{{- end }}

{{- if eq .chezmoi.os "windows" }}
    autocrlf = true
{{- else }}
    autocrlf = input
{{- end }}

    pager = delta
[user]
    name = Tim Dortmann
    email = git@tdortman.com

{{- if eq .chezmoi.hostname "hifumi" }}
    signingkey = ~/.ssh/git.pub
{{- else }}
    signingkey = key::ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPsuU+Rg+TC1KPcooUpCGZg+gAvugJjRd0y+dMz1XwoD
{{- end }}

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[commit]
    gpgsign = true
[gpg]
    format = ssh

[gpg "ssh"]
{{- if eq .chezmoi.os "windows"}}
    program = "{{ .chezmoi.homeDir }}/AppData/Local/1Password/app/8/op-ssh-sign.exe"
{{- end }}
    allowedSignersFile = "{{ .chezmoi.homeDir }}/.ssh/allowed_signers"

[alias]
    wt = worktree
    logline = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[init]
    defaultBranch = main
[rerere]
    enabled = true
[column]
    ui = never
[branch]
    sort = -committerdate
[merge]
    autoStash = true
    conflictstyle = diff3
[rebase]
    autoStash = true
[pull]
    rebase = true
[diff]
    colorMoved = default
[delta]
    navigate = true
[interactive]
    diffFilter = delta --color-only
[push]
	autoSetupRemote = true

[credential "https://github.com"]
    helper = !gh auth git-credential
[credential "https://gist.github.com"]
    helper = !gh auth git-credential

[includeIf "gitdir:/home/tim/projects/uni/"]
    path = ~/.config/git/gitconfig-uni

