{{- $key := "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPsuU+Rg+TC1KPcooUpCGZg+gAvugJjRd0y+dMz1XwoD" -}}

57221600+TiltedToast@users.noreply.github.com namespaces="git" {{ $key }}
{{ .uni_email }} namespaces="git" {{ $key }}