ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPsuU+Rg+TC1KPcooUpCGZg+gAvugJjRd0y+dMz1XwoD tim

{{- if eq .chezmoi.hostname "hifumi" }}
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC3JmwAcPVfrtITsnXcpWX+WPU5HaUD9TaMHLrPRy3AbDAjZDFk8GX2hbR+4+G8QTz3HCyX6IFkPjI9IIsTW0o2O5JwmTEgjUFYtdyulYkX0fCdoZTaZCMNwJ8pBVOkrlj7gKELdYGx+xl6UtvbJnw2jHZnCr+8bMBitCiArhifi5EErKEIR5AEI00YpQH/2n7iJ+TFMI8yW20TzeSD3ObeOPTib12dmXLE6Oby8vw5JCjBbtdUG8F3mw22zCI3vl8pEwXcO3sBaeQn8WBfj8ppNGYbm4D1WPH8yPrYURzK5uC/ce1pz6pP/Xc0lJBYy6386DKnwB7NUYuzLhZT13phQVtt3W4udm3RqjyBFwQxctQJtZPgeO8rCtUP1LHk3Lu2yJXry5Fu4gnAmy+fAZxNjTPiCjVHO4BSDAzLizGllCLwc2jlsDQ12w9Ipet93DrMUTjXlFtp81uHu8opnOrfP87nsw4avymtfoqH10rfDF1WRWhihqzUev29Orq9uV8= annie
{{- end }}
