Host hifumi
    HostName {{ .hifumi_ip }}
    User ubuntu
    Port 42069

Host ttvproxy
    HostName {{ .ttv_proxy_ip }}
    User root
    Port 42069

Host wsl
    HostName 127.0.0.1
    User tim

Host hf.co
    HostName hf.co
    User git

Host aur.archlinux.org
    HostName aur.archlinux.org
    User aur
    IdentityFile ~/.ssh/git.pub
    IdentitiesOnly yes

Host gitlab.rlp.net
    HostName gitlab.rlp.net
    User git

Host hpcgate
    HostName hpcgate.zdv.uni-mainz.de
    User {{ .uni_username }}
    ForwardX11 yes
    IdentityFile ~/.ssh/mogon.pub
    IdentitiesOnly yes
    SetEnv TERM=xterm-256color

Host mogon
    HostName mogon
    User {{ .uni_username }}
    ProxyJump hpcgate
    ForwardX11 yes
    IdentityFile ~/.ssh/mogon.pub
    IdentitiesOnly yes
    SetEnv TERM=xterm-256color

Host mogon-nhr
    HostName mogon-nhr-01
    User {{ .uni_username }}
    ProxyJump hpcgate
    ForwardX11 yes
    IdentityFile ~/.ssh/mogon.pub
    SetEnv TERM=xterm-256color

Host sshgate
  Hostname sshgate.zdv.uni-mainz.de
  User username
  IdentityFile ~/.ssh/mogon
  IdentitiesOnly yes
  PubkeyAuthentication yes
  PasswordAuthentication no

Host monster?
  Hostname %h.informatik.uni-mainz.de
  IdentityFile ~/.ssh/mogon
  User {{ .uni_username }}
  {{- if eq .os_id "linux-nixos" }}
  ProxyJump hpcgate
  {{- end  }}
  IdentitiesOnly yes
  PubkeyAuthentication yes
  PasswordAuthentication no
  SetEnv TERM=xterm-256color

