Host hifumi
    HostName {{ .hifumi_ip }}
    User ubuntu
    Port 42069

Host ttvproxy
    HostName {{ .ttv_proxy_ip }}
    User root
    Port 42069

Host wsl
    HostName 127.0.0.1
    User tim

Host hf.co
    HostName hf.co
    User git

Host aur.archlinux.org
    HostName aur.archlinux.org
    User aur
    IdentityFile ~/.ssh/git.pub
    IdentitiesOnly yes

Host gitlab.rlp.net
    HostName gitlab.rlp.net
    User git

Host hpcgate sshgate mogon mogon-nhr monster? dungeonkeeper gracehopper
    User {{ .uni_username }}
    IdentityFile ~/.ssh/mogon.pub
    IdentitiesOnly yes
    WarnWeakCrypto no
    PubkeyAuthentication yes
    PasswordAuthentication no
    SetEnv TERM=xterm-256color

Host mogon mogon-nhr monster? dungeonkeeper
    ProxyJump hpcgate

Host hpcgate
    HostName hpcgate.zdv.uni-mainz.de

Host mogon
    HostName mogon

Host mogon-nhr
    HostName mogon-nhr-01

Host sshgate
    Hostname sshgate.zdv.uni-mainz.de

Host monster?
    Hostname %h.informatik.uni-mainz.de

Host dungeonkeeper
    Hostname dungeonkeeper.informatik.uni-mainz.de

Host gracehopper
    Hostname gputest0901.zdv.uni-mainz.de
    ProxyJump dungeonkeeper
