
:root {
    --font-code: ComicCodeLigatures Nerd Font Mono Light !important;
    --font-primary: Inter !important;
    --background-modifier-selected: #121213 !important;
    --background-modifier-hover: #121213 !important;
    --background-modifier-active: #121213 !important;
    --background-mentioned: #181205 !important;
    --background-message-hover: #121213 !important;
    --background-surface-high: black !important;
    --__spoiler-background-color--hidden: #303030 !important;
    --__spoiler-background-color--hidden--hover: #505050 !important;
    --primary-130: hsl(220 13% 80%);
}

[class*="container_"] {
    /* --custom-chat-input-margin-bottom: 8px !important; */
}

[class*="typing_"] {
    font-size: 14px !important;
}

.visual-refresh [class*="channelTextArea_"] {
    margin-top: 8px;
}

.visual-refresh {
    --custom-channel-textarea-text-area-height: 56px;
    --chat-background-default: #0c0c0e !important;
}

code {
    font-size: 13px !important;
}

:not(code):not(code *) {
    font-family: var(--font-primary) !important;
}

button[class*="emojiItemSelected_"],
[class*="clickable_"][aria-selected="true"] > [class*="base_"],
[role="option"][aria-selected="true"] {
    background-color: #2b2d31 !important;
}


/* [aria-label="User area"],
[class*="mainCard_"] {
    border-color: #2b2d31 !important;
    border-width: 1px !important;
} */

[class*="emojiSection"] {
    border-bottom: 1px solid #282828;
}

.user-profile-popout,
[class*="outer_"]:has(div > header > div > [class*="avatar_"]),
[style*="--profile-gradient-overlay-color: rgba(0, 0, 0, 0)"] > [class*="biteSize_"],
[style*="--profile-gradient-overlay-color: rgba(0, 0, 0, 0)"] > [class*="fullSize_"] > [class*="body_"] > [class*="overlay_"],
/* [class*="container_"]:has([class*="tabBar_"]), */
[data-list-id*="forum-channel-list-"] > [role="list"],
[class*="statusBubble_"],
[class*="userPopoutInner_"],
[class*="userProfileModalInner_"],
[class*="fullSizeOverlayBackground_"],
[class*="activityBiteSizePopout_"],
[class*="searchFilter_"],
[class*="searchAnswer_"],
[class*="scroller_"]:not(#channels, :has([class*="markup__"])),
[class*="scrollableContent_"],
[class*="searchBarContainer_"],
[class*="rowContainer_"],
[class*="appDetailsContainer_"],
[class*="categoryHeader_"],
[class*="biteSizeInner_"],
[aria-label*="custom status" i] > div > span,
div[aria-label="Members"],
div[aria-label="Members"] > [class*="member_"],
/* #channels, */
/* [aria-label="User area"] > [class*="container__"], */
[class*="sidebarRegion"],
[class*="popoverReactionHoverBar_"],
[class*="resultsGroup__"],
[class*="categorySection_"] > [class*="wrapper_"],
[class*="packHeader_"],
[class*="contentRegionScroller__"],
[class*="container_"]:has(header),
[class*="chat_"] > [class*="content_"] > [class*="container_"],
[class*="members_"],
[data-list-item-id*="pins__"],
/* [class*="embedWrapper_"], */
[class*="messagesPopoutWrap__"] > div,
[class*="emojiSection"],
[class*="guildSection"],
[class*="popoutContainer__"] {
    background-color: black !important;
}

[class*="tags_"] > [class*="container_"],
[class*="iconCard_"] {
    background-color: transparent !important;
    border-color: transparent !important;
}

[aria-label="Edit Image with Apps"],
[class*="membersGroup_"]:has([class*="hiddenVisually__"]):has([class*="toggleExpandIcon_"]),
h3[class*="membersGroup_"]:has([class*="headerContainer_"]),
[aria-label="Apps"],
[class*="sectionTwoColumnContentContainer_"],
[aria-label="Send a gift"],
[data-list-id="guildsnav"] > [class*="itemsContainer_"] > [class*="footer_"]
{
    display: none !important;
}

[class*="unreadMentionsFixedFooter_"] {
    bottom: 0px !important;
}
